on:
  pull_request:

permissions:
  contents: read
  pull-requests: write
name: CI workflow

jobs:
  detectPullRequestImpactedProject:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: "code checkout"
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: install dependencies
        run: npm ci
        working-directory: .github/action/inpacted
      - uses: ./.github/action/inpacted
